#serial .media {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
#serial .media .media-left img {
  width: 100px;
  height: 100px;
}
#serial .media-body h5 {
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
#serial .media-body p {
  margin: 5px 0;
}
